<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue数据监测</title>
    <script type="text/javascript" src="vue.js"></script>
</head>
<body>
    <div id="container">
        <button @click="student.age++">age+</button>
        <button @click="addGender">add the gender</button>
        <button @click="addFriend">add a friend</button>
        <button @click="undatename">undate the name of first friend</button>
        <button @click="addHobby">add a hobby</button>
        <button @click="updateHobby">update the first hobby</button>
        <button @click="removeSmoke">remove the smoke</button>
        <h2>Students</h2>
        <h3>name:{{student.name}}</h3>
        <h3>age:{{student.age}}</h3>
        <h3 v-if="student.gender">gender:{{student.gender}}</h3>
        <h3>hobby:</h3>
        <ul>
            <li v-for="(hobby,index) in student.hobby" :key="index">
                {{hobby}}
            </li>
        </ul>
        <h3>friends:</h3>
        <ul>
            <li v-for="(friend,index) in student.friends" :key="index">
                {{friend.name}}--{{friend.age}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false;
        const vm = new Vue({
            el:"#container",
            data:{
                student:{
                    name:"Tom",
                    age:18,
                    hobby:['smoke','drink','eat'],
                    friends:[
                        {name:'Jerry',age:19},
                        {name:'Pat',age:20}
                    ]
                }
            },
            methods: {
                addGender(){
                    // Vue.set(this.student,'gender','male');
                    this.$set(this.student,'gender','male');
                },
                addFriend(){
                    this.student.friends.unshift({name:'Jack',age:21});
                },
                undatename(){
                    this.student.friends[0].name = 'John';
                },
                addHobby(){
                    this.student.hobby.push('Study');
                },
                updateHobby(){
                    this.student.hobby.splice(0,1,'football');
                    // Vue.set(this.student.hobby,0,'football');
                    // this.$set(this.student.hobby,0,'football');
                },
                removeSmoke(){
                    this.student.hobby=this.student.hobby.filter((h)=>{
                        return h !== 'smoke';
                    })
                }
            }
        });
    </script>
</body>
</html>